h1 {
	margin-left: 70px;
}
div.upload_container, header {
	width: 480px;
}
span.upload_container {
	width: 50%;
}
input.upload {
	margin: 8px 0px 8px 0px;
}
span.button_container {
	position:relative;
	bottom: 0px;
	display: block;
	margin: auto auto auto 180px;
}
.content {
	float:left;
}
.style {
	float:right;
}